@section AdditionalMeta {
    <meta name="description" content="Links to the free and paid versions of the Sudoku Helper android app and the differences between them." />
}

<h2>Get Sudoku Helper</h2>
<p>
    Currently Sudoku Helper is available to Android devices accessable through the Google Play Store.    
</p>
<p>
    There are two versions of Sudoku Helper on the Play store. 
    A fully functional free version that you can try and a very cheap paid version with a few extra bells and whistles.
    <ul>
        <li>
            <h3>Free Version</h3>
            <ul>
                <li><a href="https://play.google.com/store/apps/details?id=com.thirteensecondstoburn.Sudoku">Download on the Play store</a></li>
            </ul>
        </li>
        <li>
            <h3>Full Version</h3>
            <ul>
                <li><a href="https://play.google.com/store/apps/details?id=com.thirteensecondstoburn.SudokuHelper">Download on the Play store</a></li>
                <li>Removes the nag screen every 10 games. (Hey, it's better than ads right?)</li>
                <li>Gives you unlimited <b>hints</b> for when you need them.</li>
                <li>Adds a simple statistics screen so you can see how you're doing. (Accessed off the main menu)</li>
                <li>Knowledge that you helped an independant developer have a slightly better day!</li>
            </ul>
        </li>
    </ul>
</p>
<p>
    I have tested Sudoku Helper to work on a <b>Kindle Fire</b>. However, Amazon doesn't put the play store on thier devices. To put apps on the Amazon store costs
    $99 a year. While this doesn't seem like a whole lot of money, I'm waiting so see if Sudoku Helper is decently recieved through the Google Play Store first.
    If playing on your spiffy new Fire is something you'd like to see, then get all your friends to buy the paid version and tell all their friends how awesome
    it is. You can also @Html.ActionLink("send me an email", "Contact", "Home") letting me know just how much it would mean to you.
</p>