@section AdditionalMeta {
    <meta name="description" content="Sudoku Helper is an android app that will generate and help you solve an infinite number of sudoku puzzles. 
          In addition, this site will explain techniques that can be used to solve sudoku in detail." />
}
<h2>Welcome to Sudoku Helper!</h2>
<p>
    Sudoku Helper is an Android application designed to facilitate, wait for it, Sudoku puzzles.
</p>
<p>
    <h3>@Html.ActionLink("Get Sudoku Helper Now!", "GetIt", "Home")</h3>
</p>
<p>
    This site contains all the information you need to use Sudoku Helper. Sudoku Helper allows you to:
    <ul>
        <li>Generate an infinite amount of puzzles</li>
        <li>Select the difficulty of the puzzles you'd like to solve</li>
        <li>Get hints on what your next move should be when you're stuck</li>
        <li>Lookup techniques that will help you solve a Sudoku</li>
        <li>Manage all of the possibilities of a cell</li>
        <li>Allow you to save and come back to a Sudoku in progress</li>
    </ul>
    <img src="~/Content/images/MainScreen.png"/>
</p>
