@section AdditionalMeta {
    <meta name="description" content="Link to the free Casino Practice android app." />
}

<h2>@ViewBag.Title</h2>
<p>
    Your awesome Android device is just itching to have Casino Practice on it! So what are you waiting for? Go get it! It's straight forward and easy to use.
    However, if you're having problems just click on a @Html.ActionLink("help button", "Help", "Home") and you'll be on your way in no time.
</p>
<p>
    <a href="http://play.google.com/store/apps/details?id=com.thirteensecondstoburn.CasinoPractice" class="btn btn-primary btn-lg">Download from the Play Store &raquo;</a>
</p>

<p>
    Sorry iPhone/iPad users. I don't like Apple products. While Casino Practice could probably be ported there w/o a whole lot of hassle, I don't own a Mac.
    You need to have an actual Mac machine to make an app for an iWhatever.
    After programming on one at my first job I don't really want to ever use one again. Not to mention they're pricy and I don't want to waste money
    on something I'd hate anyway. Go cry to Apple that their stuff sucks.    
</p>
